.idea

# CODEPIX

codepix/.pgdata

# Binaries for programs and plugins
codepix/*.exe
codepix/*.exe~
codepix/*.dll
codepix/*.so
codepix/*.dylib

# Test binary, built with `go test -c`
codepix/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
codepix/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# NEST

bank-api/node_modules
bank-api/dist*
bank-api/.docker/dbdata*

# NEXT (BANK-FRONTEND)

# dependencies
bank-frontend/node_modules
bank-frontend/.pnp
bank-frontend/.pnp.js

# testing
bank-frontend/coverage

# next.js
bank-frontend/.next/
bank-frontend/out/

# production
bank-frontend/build

# misc
bank-frontend/.DS_Store
bank-frontend/*.pem

# debug
bank-frontend/npm-debug.log*
bank-frontend/yarn-debug.log*
bank-frontend/yarn-error.log*
bank-frontend/.pnpm-debug.log*

# local env files
bank-frontend/.env*.local

# vercel
bank-frontend/.vercel

# typescript
bank-frontend/*.tsbuildinfo
