.idea

# CODEPIX

codepix/.pgdata

# Binaries for programs and plugins
codepix/*.exe
codepix/*.exe~
codepix/*.dll
codepix/*.so
codepix/*.dylib

# Test binary, built with `go test -c`
codepix/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
codepix/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# NEST

back-api/node_modules
back-api/dist
back-api/.docker/dbdata